body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 576px) {
    .p-progressbar {
        height: 1rem !important;
        width: 8rem !important;
    }

    .p-progressbar-label {
        font-size: 0.9rem;
        margin-top: 0.2rem;
        position: absolute !important;
        left: 50% !important;
    }
}

@media (max-width: 576px) {
    .p-progressbar {
        height: 1rem !important;
        width: 3rem !important;
    }

    .p-progressbar-label {
        font-size: 0.6rem;
        position: absolute !important;
        left: 50% !important;
    }
    .p-tree {
        border: unset !important;
        padding: unset !important;
        background: unset !important;
        color: unset !important;
    }
    .p-tree .p-tree-container .p-treenode {
        padding-left: 0rem !important;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content {
        padding: 0.3rem 0.2rem 0.3rem 0 !important;
    }
    .p-component {
        font-size: 0.8rem !important;
    }
    .p-tabview .p-tabview-panels {
        padding: unset !important;
    }
    .p-tree-filter-container {
        width: 80% !important;
        margin: auto !important;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
        margin-right: unset !important;
    }
}

.p-progressbar-determinate .p-progressbar-value {
    overflow: unset !important;
}
.p-progressbar .p-progressbar-label {
    color: black !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {
    box-shadow: unset !important;
}

/* .p-tree {
    background-color: #071426 !important;
    border: unset !important;
}

.p-treenode-label {
    color: whitesmoke !important;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #A5B4FC !important;
  }

.p-tree
    .p-tree-container
    .p-treenode
    .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    background: rgba(255, 255, 255, 0.03) !important;
    color: rgba(255, 255, 255, 0.87) !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
    box-shadow: unset !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    background: rgba(165, 180, 252, 0.16) !important;
    color: rgba(255, 255, 255, 0.87) !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler:hover,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon:hover {
    color: rgba(255, 255, 255, 0.87) !important;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover {
    color: rgba(255, 255, 255, 0.87) !important;
    border-color: transparent;
    background: rgba(255, 255, 255, 0.03) !important;
}

.p-tabview .p-tabview-panels {
    background-color: #111827 !important;
}

.p-tabview .p-tabview-nav {
    background-color: #111827 !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #111827 !important;
}

.p-tabview .p-tabview-nav-btn.p-link {
    background-color: #111827 !important;
}

.p-inputtext {
    background-color: #111827 !important;
}

.p-component,
.p-component * {
    color: aliceblue !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    background: #3b82f6 !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
    box-shadow: unset !important;
} */
