body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.p-tree .p-tree-container .p-treenode{
    padding-left: 2rem !important;
}


/* .p-treenode-content{
    display: flex !important;
    justify-content: space-between !important;
} */