body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 576px){

    .p-progressbar{
        height: 1rem !important;
        width:  8rem !important;
    }
    
    .p-progressbar-label{
        font-size: 0.9rem;
        margin-top: 0.1rem;
    }
}

@media (max-width: 576px){

    .p-progressbar{
        height: 1rem !important;
        width: 3rem !important;
    }
    
    .p-progressbar-label{
        font-size: 0.6rem;
    }
}